.icons-basic-page {
  ion-icon {
    font-size: 50px;
  }

  ion-row {
    height: 100%;
    flex-wrap: wrap;
  }

  ion-col {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    padding: 10px 5px;
  }

  button {
    padding: 40px !important;
  }
}

