<!--
  Generated template for the CrearTareaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crear tarea</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      <ion-icon name="calendar" large item-left></ion-icon>
      <h2>Agendar evento</h2>
    </ion-list-header>
    <ion-item>
      <ion-label floating>Detalle de la tarea</ion-label>
      <ion-textarea [(ngModel)]="this.descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <p>Fecha de inicio</p>
      <p>{{this.label_fecha_inicio}}</p>
      <button ion-button (click)="openDateTime(true)">Día</button>
    </ion-item>
    <!-- Preguntar por el año en la elección de las fechas   (click)="openDateTime('date',true)"  -->
    <ion-item>
      <p>Fecha de termino</p>
      <p>{{this.label_fecha_termino}}</p>
      <button ion-button (click)="openDateTime(false)">Día</button>
    </ion-item>
  </ion-list>

  <ion-searchbar [(ngModel)]="palabraClave" [formControl]="busquedaControl" (ionInput)="onSearchInput()"></ion-searchbar>

  <ion-list *ngIf="palabraClave != ''">
    <ion-header>
      
    </ion-header>
    <ion-item *ngFor="let item of items; let i = index" (click)="seleccionarUsuario(item.id_usuario,i)" text-wrap>
      <p item-start [innerHTML]="item.title | safeHtml"></p>
      <ion-icon name="checkmark" item-end class="icon-large" *ngIf="seleccionado(i)"></ion-icon>
    </ion-item>
  </ion-list>
  <button ion-button large full (click)="guardar()">Aceptar</button>
</ion-content>
