incidentes-page {
  ion-icon {
    font-size: 50px;
  }

  ion-row {
    height: 100%;
    flex-wrap: wrap;
  }

  ion-col {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    padding: 10px 5px;
  }

  button {
    padding: 40px !important;
  }
  .border{
    border: solid 1px !important;
    border-color: #bdbdbd !important;
    border-radius: 2px !important;
    margin-bottom: 5px !important;
  }
}
.border{
  border: solid 1px !important;
  border-color: #bdbdbd !important;
  border-radius: 2px !important;
  margin-bottom: 5px !important;
}