page-evaluacion {
  .detalle-eval{
    padding: 10px;
  }
  .progress-row{
    border-top: solid 1px;
    border-color: #bdbdbd;
  }
  ion-icon{
    font-size: 25px;
  }
  ul{
    margin-left: -20%;
  }
  h3{
    padding: 10px;
  }
}
