<ion-header>

  <ion-navbar color="primary">
    <ion-title>Documentar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
	    pullingIcon="chatbubbles"
      pullingText="Hala para cargar mas mensajes"
      refreshingSpinner="circles"
      refreshingText="Cargando mas mensajes">
    </ion-refresher-content>
  </ion-refresher>
	<ion-list [style.background-color]="bitacora.color_alerta" (click)="nada()" no-lines class="bottom-margin" style="height: 100%;">
		<ion-item *ngFor="let anexo of anexos" no-margin [style.background-color]="bitacora.color_alerta" text-wrap text-justify>
			<ion-card no-padding>
			  <ion-card-header>
			    {{anexo.nombre_pers}} {{anexo.paterno_pers}} {{anexo.materno_pers}}
			  </ion-card-header>
			  <ion-card-content>
<!-- 			  	<div text-center>
			  		<ion-img padding-bottom *ngIf="anexo.tipo_anexo == 'foto'" width="200" height="200" [src]="anexo.src" (click)="openImage(anexo.src)" cashe="true"></ion-img>
			  	</div> -->
			  	<p>
			  		{{anexo.descripcion_anexo}}
			  	</p>
			  	<button margin-top ion-button full icon-left round *ngIf="anexo.tipo_anexo == 'foto'" (click)="openImage(anexo.src)">
			  		<ion-icon name="camera"></ion-icon>
			  		Ver Imagen
		  		</button>
			    <ion-badge item-right class="fecha_anexo">
			    	{{anexo.fecha_incorporacion | amLocale:'es' | amTimeAgo}}
			    </ion-badge>
			  </ion-card-content>
			</ion-card>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer style="background-color: #e9ebee" (click)="nada()">
	<ion-list>
	  <ion-item style="background-color: #e9ebee">
	  	<ion-icon name="text" item-left large class="icon-padding"></ion-icon>
	    <ion-label floating>
	    	Escriba un mensaje
	    </ion-label>
	    <ion-textarea [(ngModel)]="mensaje">
	    	
	    </ion-textarea>
	  </ion-item>
		<ion-item style="background-color: #e9ebee">
			<button ion-button round item-left icon-only class="camera-button" (click)="camaraOArchivo()">
				<ion-icon name="camera"></ion-icon>
			</button>
			<button [disabled]="!mensaje" ion-button round item-right icon-left class="send-button" (click)="describir()">
				<ion-icon name="send"></ion-icon>
				Enviar
			</button>
		</ion-item>
	</ion-list>
</ion-footer>
